.round_input{
    width:335px;
    padding:5px;
    border:none;
    border-radius:10px;
    font-size: 14px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(233, 233, 233, 0.847);
    margin-top: 7px;
  }
  
  #button{
    background-color:rgb(43, 43, 43);
    color: white;
    font-size: 16px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    width: 345px;
    height: 30px;
    border-radius: 5px;
  }
  
  .heading{
    font-size:35px;
    text-align: center;
    font-weight: bold;
    margin: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  body{
    background-image:url('banner.jpg');
    background-size: cover;
    background-position:center ;
  }
  
  .div{
    background-color: white ;
    height: 580px;
    width: 350px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .head{
    font-size: 16px;
    padding-left:3px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight:bold;
    
  }
  
  .line{
    width:340px;
  }
  
  .box{
    display: flex;
    align-items: center;
    width:100%;
    justify-content: center;
    height: 500px;
    margin-top: 90px;
  }
