#f{
    text-align: center;
}
#s{
    text-align: left;
}
#t{
    text-align: right;
}
#first{
    text-align: center;
}
#sec{
    text-align: left;
}
#third{
    text-align: right;
}
